# Nextflow
work/
.nextflow/
.nextflow.log*
.nextflow.cache
.timeline.html
.trace
.report.html
.dag.dot

# Pipeline outputs
results/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# environments
.env
.venv
venv/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# logs
*.log